## Import Library

In [26]:
import pandas as pd
import re

## Load data

In [27]:
file_path = r'C:\Users\user\CAPSTONE-PROJEK---CODEY\Machine Learning\kategori soal\others.csv'

data = pd.read_csv(file_path)

data.head()

,Instruction,Input,Output,materi,question_id
0,Write a Python program to generate a Fibonacci...,Number of elements = 10,def generateFibonacci(numOfElements):\n sequen...,Lainnya,5
1,Identify the output of the following python co...,"arr = [1, 2, 4, 8, 16]\nnew_arr = [i * 2 for i...","[2, 4, 8, 16, 32]",Lainnya,6
2,Fix the following syntax in Python code,"string1 = ""Programming""\nstring2 = ""Fundamentals","string1 = ""Programming""\nstring2 = ""Fundamentals""",Lainnya,9
3,Write a python program to successfully insert ...,"student_name = ""John Doe""\nstudent_age = 20","import sqlite3\n\nconn = sqlite3.connect(""exam...",Lainnya,12
4,Create a web server in Python.,<no input>,import http.server\nimport socketserver\n\nPOR...,Lainnya,20

In [28]:
def add_placeholder(code):
    """
    Gantikan kata setelah kata kunci dengan placeholder '___'.
    Hanya satu kali mengganti di seluruh kode setelah menemukan kecocokan pertama.
    """
    # Pola regex untuk mencari kata kunci dan mengganti kata setelahnya dengan placeholder
    patterns = [
         r'\b(import|open|read|write|close|with\s+open)\s+(\w+)\b'
    ]
    
    # Cari kecocokan pertama dalam seluruh kode
    for pattern in patterns:
        match = re.search(pattern, code)
        if match:
            # Ganti kata setelah kata kunci dengan placeholder '___' pada kecocokan pertama
            code = re.sub(pattern, r'\1 ___', code, count=1)  # Hanya mengganti kecocokan pertama
    
    return code

Menambah kolom Template untuk soal

In [29]:
# Terapkan fungsi pada kolom 'Full Code'
data['Template'] = data['Output'].apply(add_placeholder)
print(data['Template'][3])

import ___

conn = sqlite3.connect("example.db")
c = conn.cursor()
c.execute("INSERT INTO students VALUES ('John Doe', 20)")
conn.commit()
conn.close()

Membuat fungsi untuk mengecek data soal memiliki placeholder

In [30]:
def check_placeholder_in_column(df, column_name, placeholder="___"):
    """
    Cek apakah kolom tertentu dalam DataFrame mengandung placeholder.
    
    Args:
        df (pd.DataFrame): DataFrame yang akan dicek.
        column_name (str): Nama kolom yang akan diperiksa.
        placeholder (str): Placeholder yang dicari (default: "___").
    
    Returns:
        pd.Series: Kolom boolean (True jika ada placeholder, False jika tidak).
    """
    return df[column_name].str.contains(placeholder, na=False)

In [31]:
data["has_placeholder"] = check_placeholder_in_column(data, "Template")

print(data["has_placeholder"].value_counts())

has_placeholder
False    1686
True      504
Name: count, dtype: int64

In [32]:
# Hapus baris dengan nilai False
data = data[data["has_placeholder"]]

print(data["has_placeholder"].value_counts())

# Hapus kolom 'has_placeholder' jika tidak diperlukan lagi
data = data.drop(columns=["has_placeholder"])

has_placeholder
True    504
Name: count, dtype: int64

In [33]:
def extract_keyword_variable(code):
    """
    Mengambil kata setelah kata kunci dan mengembalikannya.
    """
    # Pola regex untuk mencari kata kunci dan mengekstrak kata setelahnya
    pattern = r'\b(import|open|read|write|close|with\s+open)\s+(\w+)\b'
    
    match = re.search(pattern, code)
    
    # Jika ada kecocokan, ambil kata setelah kata kunci (hasil kedua dalam tuple)
    if match:
        return match[2]  # Kata setelah kata kunci
    
    return None

# Terapkan fungsi untuk membuat kolom baru
data['correct_answer'] = data['Output'].apply(extract_keyword_variable)

## Save Data

In [34]:
# Simpan dataset yang telah diproses
data.to_csv('others_with_placeholders.csv', index=False)

In [35]:
data.head()

,Instruction,Input,Output,materi,question_id,Template,correct_answer
3,Write a python program to successfully insert ...,"student_name = ""John Doe""\nstudent_age = 20","import sqlite3\n\nconn = sqlite3.connect(""exam...",Lainnya,12,"import ___\n\nconn = sqlite3.connect(""example....",sqlite3
4,Create a web server in Python.,<no input>,import http.server\nimport socketserver\n\nPOR...,Lainnya,20,import ___.server\nimport socketserver\n\nPORT...,http
16,Write a Python program that takes a sentence a...,"String: ""This, is a?! test* sentence.""",import string\n\ndef removePunctuations(senten...,Lainnya,57,import ___\n\ndef removePunctuations(sentence)...,string
22,Write a Python program to solve a quadratic eq...,a = 1\nb = -5\nc = 6,import math\n\n# Solve the quadratic equation ...,Lainnya,93,import ___\n\n# Solve the quadratic equation a...,math
23,Write a Python code to tokenize the given sent...,This is a sample sentence,"import nltk\n\nsentence = ""This is a sample se...",Lainnya,99,"import ___\n\nsentence = ""This is a sample sen...",nltk